<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div style="float: right">
    <ul class="dropdown-menu">
        <li><a href="?lang=en">English</a></li>
        <li><a href="?lang=hy">Հայերեն</a></li>
        <li><a href="?lang=ru">Русский</a></li>
    </ul>
</div>
<h1 th:text="#{login.header}">LOGIN and REGISTERED</h1>
<a href="/user/home">Login</a><br><br>
<a href="user/register">Register</a>
</body>
</html>